.env
**/.DS_Store
node_modules
/lib
/__buildtest__
coverage
.idea
*.log
playground.ts
scratch
workspace.code-workspace
.netlify
bun.lockb
out.png
logos
.zed
dist
.tshy
.tshy-build
packages/tsc-perf
.pnpm-store

tsconfig.vitest-temp.json
*.tgz

