/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: hsl(215, 54%, 60%);
  --vp-c-brand-2: hsl(215, 54%, 33%);
  --vp-c-brand-3: hsl(215, 58%, 45%);
  --vp-c-brand-soft: rgba(98, 133, 208, 0.16);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    hsl(215, 54%, 33%) 30%,
    hsl(216, 100%, 60%)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    120deg,
    hsl(215, 58%, 45%),
    hsl(230, 100%, 60%) 35%,
    hsl(238, 96%, 62%) 45%,
    hsl(216, 100%, 60%) 65%,
    hsl(215, 54%, 33%)
  );

  --vp-home-hero-image-filter: blur(40px);
}
@media (min-width: 640px) {
  :root {
      --vp-home-hero-image-filter: blur(56px)
  }
}

@media (min-width: 960px) {
  :root {
      --vp-home-hero-image-filter: blur(72px)
  }
}
