
/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: #274d82;
  --vp-c-brand-2: #3068b5;
  --vp-c-brand-3: #336294;
  --vp-c-brand-soft: rgba(98, 133, 208, 0.16);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #274d82 30%,
    #c7cbef
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #6285d0 50%,
    #c7cbef 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}
